@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Inter:300,400,600,800");



.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

* {
  box-sizing: border-box;
}

.overlap-group2 {
  background-image: url(../img/mask-group.png);
  background-size: 100% 100%;
  height: 667px;
  position: relative;
  width: 375px;
}

.rectangle {
  background-color: var(--eerie-black);
  height: 137px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.thursday-17-march {
  left: 123px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 104px;
}

.rectangle-1 {
  background-color: var(--black-2);
  height: 119px;
  left: 0;
  position: absolute;
  top: 548px;
  width: 375px;
}

.rectangle-2 {
  background-color: var(--black-3);
  border-radius: 15px;
  height: 65px;
  left: 22px;
  position: absolute;
  top: 575px;
  width: 326px;
}

.slide-to-unlock {
  left: 149px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 590px;
  width: 183px;
}

.mask-group {
  height: 667px;
  left: 0;
  position: absolute;
  top: 0;
  width: 375px;
}

.att-3-g {
  left: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}

.icon-safari {
  height: 47px;
  left: 211px;
  position: absolute;
  top: 556px;
  width: 47px;
}

.rectangle-37 {
  background-color: #d9d9d9b2;
  height: 76px;
  left: 0;
  position: absolute;
  top: 591px;
  width: 375px;
}

.star-1 {
  height: 43px;
  left: 22px;
  position: absolute;
  top: 599px;
  width: 46px;
}

.ellipse-16 {
  background-color: var(--white);
  border-radius: 22.5px;
  height: 45px;
  left: 94px;
  position: absolute;
  top: 600px;
  width: 45px;
}

.ellipse-17 {
  background-color: var(--white);
  border-radius: 22.5px;
  height: 45px;
  left: 166px;
  position: absolute;
  top: 600px;
  width: 45px;
}

.favorites {
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 644px;
}

.recents {
  left: 94px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 644px;
}

.contacts {
  left: 165px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 644px;
}

.vector-10 {
  height: 21px;
  left: 99px;
  position: absolute;
  top: 604px;
  width: 18px;
}

.ellipse-20 {
  background-color: #d9d9d9;
  border-radius: 8.5px;
  height: 17px;
  left: 180px;
  position: absolute;
  top: 608px;
  width: 17px;
}

.vector-11 {
  height: 15px;
  left: 175px;
  position: absolute;
  top: 619px;
  width: 26px;
}

.x506-am {
  left: 158px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 8px;
  white-space: nowrap;
}
