/* screen - desktop-2 */

.desktop-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 1024px;
  padding: 178px 532px;
  width: 1440px;
}

.desktop-2 .passcode {
  align-items: flex-start;
  background-image: url(../img/mask-group.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 667px;
  width: 375px;
}

.desktop-2 .component-1-1 {
  height: 34px;
  width: 375px;
}

.desktop-2 .overlap-group {
  align-items: center;
  background-color: var(--black-2);
  display: flex;
  flex-direction: column;
  min-height: 633px;
  padding: 20px 0;
  width: 375px;
}

.desktop-2 .title {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 3.0px;
  margin-top: 12px;
  min-height: 39px;
  min-width: 234px;
}

.desktop-2 .ellipse-container {
  align-items: flex-start;
  display: flex;
  gap: 10px;
  margin-left: 1.0px;
  margin-top: 26px;
  min-width: 134px;
}

.desktop-2 .ellipse-1 {
  border: 1px solid;
  border-color: var(--white);
  border-radius: 13px;
  height: 26px;
  width: 26px;
}

.desktop-2 .component-container {
  gap: 15px;
  margin-left: 1.0px;
  margin-top: 34px;
  min-width: 294px;
}

.desktop-2 .component {
  align-items: flex-start;
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  display: flex;
  height: 88px;
  min-width: 88px;
  padding: 22px 34px;
}

.desktop-2 .number {
  letter-spacing: 0;
  line-height: normal;
  min-height: 39px;
}

.desktop-2 .component-1 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  height: 88px;
  min-width: 88px;
  padding: 22px 32px;
}

.desktop-2 .component-6 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  height: 88px;
  min-width: 88px;
  padding: 22px 33px;
}

.desktop-2 .component-container-1 {
  margin-top: 15px;
}

.desktop-2 .component-4 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  height: 88px;
  min-width: 88px;
  padding: 22px 30px;
}

.desktop-2 .component-8 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  height: 88px;
  min-width: 88px;
  padding: 21px 32px;
}

.desktop-2 .component-container-2 {
  margin-top: 16px;
}

.desktop-2 .component-9 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  height: 88px;
  min-width: 88px;
  padding: 24px 33px;
}

.desktop-2 .component-11 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  height: 88px;
  min-width: 88px;
  padding: 22px 33px;
}

.desktop-2 .component-2 {
  border: 2px solid;
  border-color: var(--white);
  border-radius: 44px;
  cursor: pointer;
  height: 88px;
  margin-left: 1.0px;
  margin-top: 15px;
  min-width: 88px;
  padding: 22px 33px;
}

.desktop-2 .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 157px;
  height: 24px;
  margin-top: 34px;
  min-width: 327px;
}

.desktop-2 .emergency {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  min-width: 105px;
  white-space: nowrap;
}

.desktop-2 .cancel {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  min-height: 24px;
  white-space: nowrap;
}

.desktop-2 .component-3 {
  align-items: flex-start;
  display: flex;
}

.desktop-2 .component-container-3 {
  align-items: flex-start;
  display: flex;
  gap: 15px;
  margin-left: 1.0px;
  min-width: 294px;
}
