:root { 
  --alto: #d9d9d980;
  --apple: #48b348;
  --australian-mint: #f7f5c0;
  --black: #000000;
  --black-2: #000000cc;
  --black-3: #000000e6;
  --cornflower: #97d3ef;
  --eerie-black: #202020cc;
  --jordy-blue: #8dbded;
  --light-wisteria: #d097d4;
  --mantis: #61c561;
  --mercury: #e7e5de;
  --red-orange: #ff3b2f;
  --silver-chalice: #aeaeae;
  --silver-chalice-2: #afaeae;
  --spindle: #b5cdf1;
  --tulip-tree: #e3a435;
  --white: #ffffff;
  --white-2: #ffffffcc;
 
  --font-size-l: 24px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 32px;
  --font-size-xs: 12px;
  --font-size-xxl: 60px;
  --font-size-xxxl: 64px;
 
  --font-family-inter: "Inter", Helvetica;
}
.inter-light-black-14px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-light-silver-chalice-32px {
  color: var(--silver-chalice-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.inter-light-white-32px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
}

.inter-light-eerie-black-12px {
  color: var(--eerie-black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-silver-chalice-12px {
  color: var(--silver-chalice);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-64px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 300;
}

.inter-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.inter-light-white-24px {
  color: var(--white-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 300;
}

.inter-extra-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 800;
}
